.jumbotron-fluid .title{
    animation: showup 4s;
}

.bi-dice-6{
    animation: roll 0.6s;
}

.animated-card{
    opacity: 0;
    animation: load 0.4s ease-in forwards;
}

.list-group-item{
    opacity: 0;
    animation: links 0.4s ease-in forwards;
}

@keyframes roll{
    0% {
        transform: translateX(-500px) rotate(0);
    }
    100% {
        transform: translateX(0) rotate(720deg);
    }
}

@keyframes showup{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes load{
    0% {
        opacity: 0;
        transform: translate(-30px, -30px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes links {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    60% {
        opacity: 0.6;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}