<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/common :: head">
<body>
<header th:replace="fragments/common :: header"></header>
<main class="p-5 align-content-center bg-blur">
    <div>
        <h5 sec:authorize="not isAuthenticated()" class="text-center app-header p-2 rounded">Want to see details of a game and add comment to it?
            <a th:href="@{/users/login}">Login</a> or <a th:href="@{/users/register}">Register</a></h5>
    </div>
    <div class="d-flex justify-content-between">
        <form class="col-3 mb-4 d-flex align-content-center"
              th:action="@{/games/all}" th:method="GET">
            <div class="col-auto mx-2">
                <select class="form-control" id="selectUsername" name="category">
                    <option value="" disabled selected>Select category</option>
                    <option th:each="category : ${allCategories}"
                            th:value="${category}"
                            th:text="${category}"></option>
                </select>
            </div>
            <div class="d-flex justify-content-center mt-2">
                <button class="btn btn-warning btn-block" type="submit">Filter</button>
            </div>
        </form>
        <div sec:authorize="isAuthenticated()" class="search-container">
            <input type="search" placeholder="search game" id="searchBar">
        </div>
    </div>
    <div th:if="${isOk}" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Successfully add new game</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="container d-flex">
        <div th:each="game : ${allGames}" th:object="${game}" class="card col-2 mx-2 animated-card">
            <img class="card-img-top" th:src="*{titleImgUrl}" alt="game image">
            <div class="card-body">
                <h4 th:text="*{name}" class="card-title">Card title</h4>
                <small th:each="category : *{categories}" th:text="${category.name + '  '}" class="card-subtitle mb-2 text-muted" style="font-size: 0.6rem;
">Card subtitle</small>
                <p th:text="*{#strings.substring(description, 0, 10) + '...'}" class="card-text">Brief content</p>
                <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/games/{id}/details(id=*{id})}" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
</main>
<script type="module" th:src="@{/js/cardsAnimation.js}"></script>
<script th:src="@{/js/search.js}"></script>
</body>
</html>